<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="resources/css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/login.css">
	<link rel="shortcut icon" type="image/png" href="../images/eontech_icon.png"/>
</head>
<body class="loginbody">

	<div class="circle"></div>
    <div class="card">
        <div class="logo">
            <i class='bx bx-user'></i>
        </div>
	<div class="login-form">
		<h2>Iniciar Sesion Eontech</h2><br><br>
		<form action="lauth" method="POST" class="form">
			<input type="text" name="user" placeholder="Usuario" autofocus required>
			<input type="password" name="pass" placeholder="Contraseña" required>
			<input style="background-color: #025fff; color: white;" type="submit" class="btn-login" value="Ingresar" >
		</form>
		<footer>
			¿No tienes cuenta?
				<a href="register" class="btn-register">Registrarse</a><br><br>
				<a href="/" class="btn-register">ir al inicio</a>
		</footer>
		
	</div>
		
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

   <% if (typeof alert != "undefined")  { %>
    <script>
    Swal.fire({
      title:'<%= alertTitle %>',
      text:'<%= alertMessage %>',
      icon:'<%= alertIcon %>',
      showConfirmButton: <%= showConfirmButton %>,
      timer: <%= timer %>
    }).then(()=>{
      window.location='/<%= ruta %>'
    })
    </script>
  <% } %>
	</div>
</body>
</html>